
// #8074b1 is a great color

.title {
    color: #696772;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}
.title:hover {
    color: #4a3e79;
}
.title:active {
    color: #1f0075;
}
